<div class="info-section">
    <b>Informations sur la requêtes</b>
    <div style="font-size: small;"><b>Date:</b> {{req.date}}</div>
    <div style="font-size: small;"><b>User Agent:</b> {{req.userAgent}}</div>
    <div style="font-size: small;"><b>URL de la Requête:</b> {{req.origin}}</div>
    {{!-- <div><b>Référant:</b> {{req.headers['referer']}}</div> --}}
    {{!-- <div><b>Langue Acceptée:</b> {{req.headers['accept-language']}}</div> --}}
</div>